.ipynb_checkpoints/
BU/
columns_description/
data/
data_csv/
feature_selection/
features/
features_desc/
hyperopt/
interpretation/
models/
results/
sco/
documentation/

venv
*.pyc
.DS_Store
.env

sco
.sco